/* Copyright (c) 2015-2016, The Linux Foundation. All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 and
 * only version 2 as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

&soc {
	tlmm: pinctrl@03400000 {
		/* gpio 0 */ /* NFC_ESE_SPI_MOSI */
		msm8998_gpio0_active: msm8998_gpio0_active {
			mux {
				pins = "gpio0";
				function = "blsp_spi1";
			};

			config {
				pins = "gpio0";
				drive-strength = <6>;
				bias-disable;
			};
		};

		msm8998_gpio0_sleep: msm8998_gpio0_sleep {
			mux {
				pins = "gpio0";
				function = "blsp_spi1";
			};

			config {
				pins = "gpio0";
				drive-strength = <6>;
				bias-disable;
			};
		};

		/* gpio 1 */ /* NFC_ESE_SPI_MISO */
		msm8998_gpio1_active: msm8998_gpio1_active {
			mux {
				pins = "gpio1";
				function = "blsp_spi1";
			};

			config {
				pins = "gpio1";
				drive-strength = <6>;
				bias-disable;
			};
		};

		msm8998_gpio1_sleep: msm8998_gpio1_sleep {
			mux {
				pins = "gpio1";
				function = "blsp_spi1";
			};

			config {
				pins = "gpio1";
				drive-strength = <6>;
				bias-disable;
			};
		};

		/* gpio 2 */ /* NFC_ESE_SPI_CS_N */
		msm8998_gpio2_active: msm8998_gpio2_active {
			mux {
				pins = "gpio2";
				function = "blsp_spi1";
			};

			config {
				pins = "gpio2";
				drive-strength = <6>;
				bias-disable;
			};
		};

		msm8998_gpio2_sleep: msm8998_gpio2_sleep {
			mux {
				pins = "gpio2";
				function = "blsp_spi1";
			};

			config {
				pins = "gpio2";
				drive-strength = <6>;
				bias-disable;
			};
		};

		/* gpio 3 */ /* NFC_ESE_SPI_CLK */
		msm8998_gpio3_active: msm8998_gpio3_active {
			mux {
				pins = "gpio3";
				function = "blsp_spi1";
			};

			config {
				pins = "gpio3";
				drive-strength = <6>;
				bias-disable;
			};
		};

		msm8998_gpio3_sleep: msm8998_gpio3_sleep {
			mux {
				pins = "gpio3";
				function = "blsp_spi1";
			};

			config {
				pins = "gpio3";
				drive-strength = <6>;
				bias-disable;
			};
		};

		/* gpio 4 */ /* DEBUG_UART_TX */
		msm8998_gpio4_active: msm8998_gpio4_active {
			mux {
				pins = "gpio4";
				function = "blsp_uart8_a";
			};

			config {
				pins = "gpio4";
				drive-strength = <2>;
				bias-disable;
			};
		};

		/* gpio 5 */ /* DEBUG_UART_RX */
		msm8998_gpio5_active: msm8998_gpio5_active {
			mux {
				pins = "gpio5";
				function = "blsp_uart8_a";
			};

			config {
				pins = "gpio5";
				drive-strength = <2>;
				bias-disable;
			};
		};

		/* gpio 32 */ /* RANGING_SCL */
		msm8998_gpio32_active: msm8998_gpio32_active {
			mux {
				pins = "gpio32";
				function = "blsp_i2c2";
			};

			config {
				pins = "gpio32";
				drive-strength = <2>;
				bias-disable;
			};
		};

		msm8998_gpio32_sleep: msm8998_gpio32_sleep {
			mux {
				pins = "gpio32";
				function = "blsp_i2c2";
			};

			config {
				pins = "gpio32";
				drive-strength = <2>;
				bias-pull-up;
			};
		};

		/* gpio 33 */ /* RANGING_SDA */
		msm8998_gpio33_active: msm8998_gpio33_active {
			mux {
				pins = "gpio33";
				function = "blsp_i2c2";
			};

			config {
				pins = "gpio33";
				drive-strength = <2>;
				bias-disable;
			};
		};

		msm8998_gpio33_sleep: msm8998_gpio33_sleep {
			mux {
				pins = "gpio33";
				function = "blsp_i2c2";
			};

			config {
				pins = "gpio33";
				drive-strength = <2>;
				bias-pull-up;
			};
		};

		/* gpio 35 */ /* AUDIO_SW_EN */
		ear_switch_en1_idle: ear_switch_en1_idle {
			mux {
				pins = "gpio35";
				function = "gpio";
			};
			config {
				pins = "gpio35";
				drive-strength = <2>;
				bias-pull-down;
				output-low;
			};
		};

		ear_switch_en1_active: ear_switch_en1_active {
			mux {
				pins = "gpio35";
				function = "gpio";
			};
			config {
				pins = "gpio35";
				drive-strength = <2>;
				bias-disable;
				output-high;
			};
		};

		/* gpio 45 */ /* BT_HCI_UART_TXD */
		msm8998_gpio45_active: msm8998_gpio45_active {
			mux {
				pins = "gpio45";
				function = "blsp_uart3_a";
			};

			config {
				pins = "gpio45";
				drive-strength = <2>;
				bias-disable;
			};
		};

		msm8998_gpio45_sleep: msm8998_gpio45_sleep {
			mux {
				pins = "gpio45";
				function = "gpio";
			};

			config {
				pins = "gpio45";
				drive-strength = <2>;
				bias-pull-up;
			};
		};

		/* gpio 46 */ /* BT_HCI_UART_RXD */
		msm8998_gpio46_active: msm8998_gpio46_active {
			mux {
				pins = "gpio46";
				function = "blsp_uart3_a";
			};

			config {
				pins = "gpio46";
				drive-strength = <2>;
				bias-disable;
			};
		};

		msm8998_gpio46_sleep: msm8998_gpio46_sleep {
			mux {
				pins = "gpio46";
				function = "gpio";
			};

			config {
				pins = "gpio46";
				drive-strength = <2>;
				bias-pull-up;
			};
		};

		/* gpio 47 */ /* BT_HCI_UART_CTS_N */
		msm8998_gpio47_active: msm8998_gpio47_active {
			mux {
				pins = "gpio47";
				function = "blsp_uart3_a";
			};

			config {
				pins = "gpio47";
				drive-strength = <2>;
				bias-disable;
			};
		};

		msm8998_gpio47_sleep: msm8998_gpio47_sleep {
			mux {
				pins = "gpio47";
				function = "gpio";
			};

			config {
				pins = "gpio47";
				drive-strength = <2>;
				bias-pull-up;
			};
		};

		/* gpio 48 */ /* BT_HCI_UART_RFR_N */
		msm8998_gpio48_active: msm8998_gpio48_active {
			mux {
				pins = "gpio48";
				function = "blsp_uart3_a";
			};

			config {
				pins = "gpio48";
				drive-strength = <2>;
				bias-disable;
			};
		};

		msm8998_gpio48_sleep: msm8998_gpio48_sleep {
			mux {
				pins = "gpio48";
				function = "gpio";
			};

			config {
				pins = "gpio48";
				drive-strength = <2>;
				bias-pull-up;
			};
		};

		/* gpio 51 */ /* SMART_AMP_DAT */
		msm8998_gpio51_active: msm8998_gpio51_active {
			mux {
				pins = "gpio51";
				function = "blsp_i2c9";
			};

			config {
				pins = "gpio51";
				drive-strength = <2>;
				bias-disable;
			};
		};

		msm8998_gpio51_sleep: msm8998_gpio51_sleep {
			mux {
				pins = "gpio51";
				function = "blsp_i2c9";
			};

			config {
				pins = "gpio51";
				drive-strength = <2>;
				bias-disable;
			};
		};

		/* gpio 52 */ /* SMART_AMP_SCL */
		msm8998_gpio52_active: msm8998_gpio52_active {
			mux {
				pins = "gpio52";
				function = "blsp_i2c9";
			};

			config {
				pins = "gpio52";
				drive-strength = <2>;
				bias-disable;
			};
		};

		msm8998_gpio52_sleep: msm8998_gpio52_sleep {
			mux {
				pins = "gpio52";
				function = "blsp_i2c9";
			};

			config {
				pins = "gpio52";
				drive-strength = <2>;
				bias-disable;
			};
		};

		/* gpio 54 */ /* CODEC_INT1 */
		msm8998_gpio54_default: msm8998_gpio54_default{
			mux {
				pins = "gpio54";
				function = "gpio";
			};

			config {
				pins = "gpio54";
				drive-strength = <2>;
				bias-disable;
				input-enable;
			};
		};

		/* gpio 55 */ /* FP_APPS_I2C_SDA */
		msm8998_gpio55_active: msm8998_gpio55_active {
			mux {
				pins = "gpio55";
				function = "blsp_i2c7";
			};

			config {
				pins = "gpio55";
				drive-strength = <2>;
				bias-disable;
			};
		};

		msm8998_gpio55_sleep: msm8998_gpio55_sleep {
			mux {
				pins = "gpio55";
				function = "blsp_i2c7";
			};

			config {
				pins = "gpio55";
				drive-strength = <2>;
				bias-pull-up;
			};
		};

		/* gpio 56 */ /* FP_APPS_I2C7_SCL */
		msm8998_gpio56_active: msm8998_gpio56_active {
			mux {
				pins = "gpio56";
				function = "blsp_i2c7";
			};

			config {
				pins = "gpio56";
				drive-strength = <2>;
				bias-disable;
			};
		};

		msm8998_gpio56_sleep: msm8998_gpio56_sleep {
			mux {
				pins = "gpio56";
				function = "blsp_i2c7";
			};

			config {
				pins = "gpio56";
				drive-strength = <2>;
				bias-pull-up;
			};
		};

		/* gpio 58 */ /* CDC_TX_I2S_SCK */
		msm8998_gpio58_active: msm8998_gpio58_active {
			mux {
				pins = "gpio58";
				function = "qua_mi2s";
			};

			config {
				pins = "gpio58";
				drive-strength = <8>;
				bias-disable;
				output-high;
			};
		};

		msm8998_gpio58_sleep: msm8998_gpio58_sleep {
			mux {
				pins = "gpio58";
				function = "qua_mi2s";
			};

			config {
				pins = "gpio58";
				drive-strength = <2>;
				bias-pull-down;
			};
		};

		/* gpio 59 */ /* CDC_TX_I2S_WS */
		msm8998_gpio59_active: msm8998_gpio59_active {
			mux {
				pins = "gpio59";
				function = "qua_mi2s";
			};

			config {
				pins = "gpio59";
				drive-strength = <8>;
				bias-disable;
				output-high;
			};
		};

		msm8998_gpio59_sleep: msm8998_gpio59_sleep {
			mux {
				pins = "gpio59";
				function = "qua_mi2s";
			};

			config {
				pins = "gpio59";
				drive-strength = <2>;
				bias-pull-down;
			};
		};

		/* gpio 60 */ /* CDC_TX_I2S_DI */
		msm8998_gpio60_active: msm8998_gpio60_active {
			mux {
				pins = "gpio60";
				function = "qua_mi2s";
			};

			config {
				pins = "gpio60";
				drive-strength = <8>;
				bias-disable;
			};
		};

		msm8998_gpio60_sleep: msm8998_gpio60_sleep {
			mux {
				pins = "gpio60";
				function = "qua_mi2s";
			};

			config {
				pins = "gpio60";
				drive-strength = <2>;
				bias-pull-down;
			};
		};

		/* gpio 61 */ /* CDC_TX_I2S_DO */
		msm8998_gpio61_active: msm8998_gpio61_active {
			mux {
				pins = "gpio61";
				function = "qua_mi2s";
			};

			config {
				pins = "gpio61";
				drive-strength = <8>;
				bias-disable;
				input-enable;
			};
		};

		msm8998_gpio61_sleep: msm8998_gpio61_sleep {
			mux {
				pins = "gpio61";
				function = "qua_mi2s";
			};

			config {
				pins = "gpio61";
				drive-strength = <2>;
				bias-pull-down;
			};
		};

		/* gpio 64 */ /* CODEC_RST_N */
		msm8998_gpio64_active:msm8998_gpio64_active {
			mux {
				pins = "gpio64";
				function = "gpio";
			};
			config {
				pins = "gpio64";
				drive-strength = <2>;
				bias-disable;
				output-high;
			};
		};

		msm8998_gpio64_sleep: msm8998_gpio64_sleep {
			mux {
				pins = "gpio64";
				function = "gpio";
			};
			config {
				pins = "gpio64";
				drive-strength = <2>;
				bias-disable;
				output-low;
			};
		};

		/* gpio 66 */ /* AUDIO_SW_IN */
		ear_switch_in1_idle: ear_switch_in1_idle {
			mux {
				pins = "gpio66";
				function = "gpio";
			};
			config {
				pins = "gpio66";
				drive-strength = <2>;
				bias-pull-down;
				output-low;
			};
		};

		ear_switch_in1_active: ear_switch_in1_active {
			mux {
				pins = "gpio66";
				function = "gpio";
			};
			config {
				pins = "gpio66";
				drive-strength = <2>;
				bias-disable;
				output-high;
			};
		};

		/* gpio 69 */ /* SPKR_I2S_CLK */
		msm8998_gpio69_active: msm8998_gpio69_active {
			mux {
				pins = "gpio69";
				function = "spkr_i2s";
			};

			config {
				pins = "gpio69";
				drive-strength = <8>;
				bias-disable;
			};
		};

		msm8998_gpio69_sleep: msm8998_gpio69_sleep {
			mux {
				pins = "gpio69";
				function = "spkr_i2s";
			};

			config {
				pins = "gpio69";
				drive-strength = <2>;
				bias-pull-down;
			};
		};

		/* gpio 81 */ /* BLSP_SPI_2_MOSI */
		msm8998_gpio81_active: msm8998_gpio81_active {
			mux {
				pins = "gpio81";
				function = "blsp_spi12";
			};

			config {
				pins = "gpio81";
				drive-strength = <6>;
				bias-disable;
			};
		};

		msm8998_gpio81_sleep: msm8998_gpio81_sleep {
			mux {
				pins = "gpio81";
				function = "blsp_spi12";
			};

			config {
				pins = "gpio81";
				drive-strength = <6>;
				bias-disable;
			};
		};

		/* gpio 82 */ /* BLSP_SPI_2_MISO */
		msm8998_gpio82_active: msm8998_gpio82_active {
			mux {
				pins = "gpio82";
				function = "blsp_spi12";
			};

			config {
				pins = "gpio82";
				drive-strength = <6>;
				bias-disable;
			};
		};

		msm8998_gpio82_sleep: msm8998_gpio82_sleep {
			mux {
				pins = "gpio82";
				function = "blsp_spi12";
			};

			config {
				pins = "gpio82";
				drive-strength = <6>;
				bias-disable;
			};
		};

		/* gpio 83 */ /* BLSP_SPI_2_CS_N */
		msm8998_gpio83_active: msm8998_gpio83_active {
			mux {
				pins = "gpio83";
				function = "blsp_spi12";
			};

			config {
				pins = "gpio83";
				drive-strength = <6>;
				bias-disable;
			};
		};

		msm8998_gpio83_sleep: msm8998_gpio83_sleep {
			mux {
				pins = "gpio83";
				function = "blsp_spi12";
			};

			config {
				pins = "gpio83";
				drive-strength = <6>;
				bias-disable;
			};
		};

		/* gpio 84 */ /* BLSP_SPI_2_CLK */
		msm8998_gpio84_active: msm8998_gpio84_active {
			mux {
				pins = "gpio84";
				function = "blsp_spi12";
			};

			config {
				pins = "gpio84";
				drive-strength = <6>;
				bias-disable;
			};
		};

		msm8998_gpio84_sleep: msm8998_gpio84_sleep {
			mux {
				pins = "gpio84";
				function = "blsp_spi12";
			};

			config {
				pins = "gpio84";
				drive-strength = <6>;
				bias-disable;
			};
		};

		sdc2_cd_on: sdc2_cd_on {
			config {
				bias-disable;           /* no pull */
			};
		};

		sdc2_cd_off: sdc2_cd_off {
			config {
				bias-disable;           /* no pull */
			};
		};
	};
};
