/*
 * Copyright (c) 2015-2016, The Linux Foundation. All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 and
 * only version 2 as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

/ {
	aliases {
		i2c5 = &i2c_5;
		i2c8 = &i2c_8;
		spi1 = &spi_1;
		spi12 = &spi_12;
	};
};

&soc {
	spi_1: spi@c175000 { /* BLSP1 QUP1 */
		status = "ok";
	};

	spi_5: spi@c179000 { /* BLSP1 QUP5 */
		status = "okay";
	};

	spi_12: spi@c1ba000 { /* BLSP2 QUP6 */
		status = "ok";
	};

	pcie0: qcom,pcie@01c00000 {
		pinctrl-names = "default";
		pinctrl-0 = <>;
		wake-gpio = <> ;
	};

	cti2: cti@6012000 {
		pinctrl-names = "cti-trigout-pctrl";
		pinctrl-0 = <>;
	};
};
